.container {
  margin-top: 5rem;
  margin-bottom: 0rem;
  height: auto;
  width: 100vw;
}

.content {
  width: 100%;
  height: auto;
  padding-bottom: 1.5rem;

  background-color: #222831;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='453' height='453' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%233D4858' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23526076'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");

  button {
    margin: 1rem 3rem;
    transition: background-color 0.5s;
    padding: 0.8rem 1.5rem;

    &:hover {
      background-color: var(--red);
    }
  }
}

.content_A {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    font-size: 36px;
    color: var(--white);
    padding: 1.2rem 1rem;
    margin-top: 2rem;
    font-weight: bold;

    @media(max-width: 768px) {
      font-size: 20px;
    }
  }

  article {
    font-size: 22px;
    color: var(--white);
    padding: 0.5rem 1rem 3.5rem 1rem;
    max-width: 60%;

    @media(max-width: 768px) {
      max-width: 90%;
      font-size: 16px;
    }
  }
}

.buttonInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    font-size: 18px;

    @media(max-width: 768px) {
      font-size: 16px;
    }
  }
}

.containerCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media(max-width: 768px) {
    flex-direction: column;
  }
}

.card {
  background-color: var(--white);
  border-radius: 12px;
  padding: 0.6rem;
  margin: 1rem;
  max-width: 250px;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.4s;

  &:hover {
    scale: 1.04;
  }

  p {
    font-size: 22px;
    color: var(--black);
    margin-bottom: 0.5rem;

    @media(max-width: 768px) {
      font-size: 16px;
    }
  }

  article {
    font-size: 16px;
    color: var(--black);

    @media(max-width: 768px) {
      font-size: 14px;
    }
  }
}

.containerReports {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 1rem;
  flex-direction: column;
}

.titleReport {
  color: var(--white);
  font-size: 20px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.report {
  background-color: var(--secundary);
  width: 600px;
  margin-bottom: 1rem;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  @media(max-width: 768px) {
    width: 280px;
  }

  p {
    font-size: 16px;
  }
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.metrics {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 1rem 0rem 1rem;
  flex-direction: column;

  p {
    font-size: 18px;

    @media(max-width: 768px) {
      font-size: 16px;
    }
  }
}

.imgAutor {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0.5rem 1.5rem 1rem 0;

  @media (max-width: 768px) {
    width: 64px;
    height: 64px;
  }
}